<!DOCTYPE html>
<html>
    <table>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        </head>
        <body>
            <form action="/todo/update" method="POST">
                <input type="hidden" name="id" value="{{todo.id}}"/> 
                <table> 
                    <tr>
                        <td>Todo:</td>
                        <td>
                            <input
                                type='text'
                                name='text'
                                value='{{todo.text}}'
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>
                            <textarea
                                name='description'
                            >
                                {{todo.description}}
                            </textarea>
                        </td>
                    </tr>
                </table>
                <button type="submit">Submit</button>
            </form>
            <div>
                <h3>Tasks</h3>
                <ol>
                    {% for task in todo.tasks %}
                         <li>{{ task.description}}</li>
                    {% endfor %}
                </ol>
            </div>
        </body>
    </table>
    <a href="/">Home</a>
</html>